# Local infrastructure and service discovery.

MONGO_URI=mongodb://localhost:27017/platform
REDIS_ADDR=localhost:6379

REGISTRY_TYPE=etcd
DISCOVERY_TYPE=etcd
REGISTRY_PREFIX=micro-service
DISCOVERY_PREFIX=micro-service
ETCD_ENDPOINT=127.0.0.1:2379

EDGE_REGISTRY_ADDR=127.0.0.1:38080
IDP_REGISTRY_ADDR=127.0.0.1:38081
IAM_REGISTRY_ADDR=127.0.0.1:38082
MODEL_REGISTRY_ADDR=127.0.0.1:38083
